---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About" description="This a site where I'ma post about trading.">
  <h1 class="mr-2 py-4 my-2 border-b border-slate-200">About</h1>

  <div class="my-10 prose lg:prose-xl">
    <h2>🤟🏿 INTRO</h2>
    <p>This a site where I'ma post about trading. Everything from my trades, journal, research, strategy, setups and whatever else I can think of that could show my progression as a trader.</p>
  </div>
</Layout>
