---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About" description="This a site where I'ma post about trading.">
  <div class="page">
    <div class="page-header">
      <h1>About</h1>
    </div>

    <p class="about-intro-label">🤟🏿 INTRO</p>
    <p>This a site where I'ma post about trading. Everything from my trades, journal, research, strategy, setups and whatever else I can think of that could show my progression as a trader.</p>
  </div>
</Layout>
